form {

    & .add-item {
        display: flex;
        flex-direction: column;
    
        max-width: 20.375rem;
        margin-top: 2.75rem;
        margin-inline: auto;

        & input {
            appearance: none;
            outline: none;
            height: 2.75rem;

            font: 400 1rem/1.4 var(--font-family);
            color: var(--content-primary);

            border: 2px solid var(--border-primary);
            border-radius: .75rem;

            padding-inline: 1.125rem;

            transition: border-color 200ms ease-out;

            &::placeholder {
                font: 400 1rem/1.4 var(--font-family);
                color: var(--content-tertiary);
            }

            &:hover {
                border-color: var(--border-hover);
            }

            &:active,
            &:focus,
            &:focus-within {
                border-color: var(--color-brand);
            }

            &.error-border {
                border-color: var(--color-danger);
            }
        }

        & p {
            font: var(--error);
            color: var(--color-danger);
            letter-spacing: .02rem;
            padding-left: .5rem;
            padding-top: .25rem;
        }

        & button {
            appearance: none;
            height: 2.75rem;

            font: var(--paragraph);
            line-height: 1.25rem;
            color: var(--always-white);

            background-color: var(--color-brand);
            border: none;
            border-radius: .75rem;

            margin-top: 1rem;

            cursor: pointer;
            transition: background-color 150ms ease-out;

            &:hover,
            &:focus,
            &:focus-within {
                background-color: var(--color-brand-hover);
                outline: none;
            }
        }
    }
}